---
import Hero from '../components/Hero/Hero';
import Section from '../components/Section/Section';
import DownloadSection from '../components/DownloadSection/DownloadSection';
import GoogleAnalytics from '../components/GoogleAnalytics/GoogleAnalytics';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <meta name="theme-color" content="#0e54a5" />
    <title>Deno - Personalized Fitness Insights</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@200;400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html {
        scroll-behavior: smooth;
      }

      body {
        font-family: 'Lato', sans-serif;
        line-height: 1.6;

        overflow-x: hidden;

        background: linear-gradient(135deg, #0e54a5 0%, #18466a 100%);
        background-color: #0e54a5;
      }
    </style>

    <GoogleAnalytics client:load trackingId="G-2W157BB1KB" />
  </head>
  <body>
    <Hero client:load />

    <Section
      client:load
      imageSrc="/images/app/runSummary.png"
      imageAlt="Run Summary"
      title="Unique Insights"
      description="Group your runs by various metrics and gain deeper insights into your performance across different dimensions."
      imagePosition="left"
      fadeInOnLoad={true}
    />

    <Section
      client:load
      imageSrc="/images/app/personalKeyStats.png"
      imageAlt="Personal Key Stats"
      title="Personal Analytics"
      description="Discover your key performance indicators and track your progress over time, whether it's how far you go, or how fast you go.."
      imagePosition="right"
    />

    <Section
      client:load
      imageSrc="/images/app/weeklyRunTrends.png"
      imageAlt="Weekly Run Trends"
      title="Weekly Insights"
      description="Visualize different trends in your performance and stay motivated with clear progress tracking."
      imagePosition="left"
    />

    <Section
      client:load
      imageSrc="/images/app/routePaceMap.png"
      imageAlt="Route Pace Map"
      title="Route Analysis"
      description="Analyze your pace across different route segments with interactive maps and insights."
      imagePosition="right"
    />

    <Section
      client:load
      imageSrc="/images/app/compareKeyRuns.png"
      imageAlt="Compare Key Runs"
      title="Compare Performance"
      description="Compare your key runs side-by-side to see how far you've come."
      imagePosition="left"
    />

    <Section
      client:load
      imageSrc="/images/app/progressionChartForGroup.png"
      imageAlt="Track sProgression"
      title="Track Progress"
      description="Monitor your fitness progression, and get some goals in place."
      imagePosition="right"
    />

    <!--     <Section
      client:load
      imageSrc="/images/app/anotherRunSummary.png"
      imageAlt="Advanced Run Summary"
      title="Advanced Metrics"
      description="Dive deep into advanced running metrics and personalized recommendations."
      imagePosition="left"
    /> -->

    <DownloadSection client:load />
  </body>
</html>
