---

---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Deno</title>
		<link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@200;400;700&display=swap" rel="stylesheet">
		<style>
			body {
				min-height: 100vh;
				margin: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background: linear-gradient(0, #18466a 0%, #0e54a5 100%);
				font-family: 'Orelega One', cursive;
				overflow: hidden;
			}
			h1 {
				font-size: 3rem;
				color: #fff;
				margin-bottom: 0;
				min-width: 300px;
				text-align: center;
				font-family: 'Orelega One', cursive;
			}
			p {
				font-size: 16px;
				font-weight: 200;
				color: #fff;
				margin-top: 15px;
				font-family: 'Lato', cursive;
			}
			span {
				color: #fff;
				font-size: 10px;
				margin-top: 20px;
				font-family: 'Lato', sans-serif;
				letter-spacing: 1.5px;
				text-transform: uppercase;
				font-weight: 700;
				position: absolute;
				border-radius: 5px;
				background: rgba(255, 255, 255, 0.1);
				padding: 15px 20px;
				bottom: 50px;
			}
		</style>
	</head>
	<body>
		<h1>Deno</h1>
		<p>Personalized fitness tracker</p>
		<span>Coming soon to <i style="text-transform: lowercase; font-style: normal; font-size: 10px;">i</i>OS</span>
	</body>
</html>
